doctype html
html
  head
    title= title
    block style
      link(rel='stylesheet', href='/static/css/style.css', type='text/css')
  body
    block header
    block menu
      include nav.pug
    block content
    block foot
      block scripts
      p some footer content
